.main {
    margin-left: 250px;
    padding: 2rem;
    width: calc(100% - 250px);
    min-height: 100vh;
    background-color: var(--background);
}

@media (max-width: 768px) {
    .main {
        margin-left: 0;
        width: 100%;
        padding-top: 80px;
        /* Space for mobile nav if implemented */
    }
}